body {
	background-image: url('creditCard.jpg');
	background-size: cover;
}
@font-face {
	font-family: azonixImport;
	src: url('azonix.otf');
}
h1 {
	font-family: azonixImport;
	text-decoration: underline;
}
fieldset {
	background-color: rgba(102,153,255, .5);
	border-color: black;
	border-radius: 5px;
	width: 533px;
}
legend {
	font-family: azonixImport;
}
input, select {
	background-color: #99ccff;
	border-color: black;
	border-radius: 5px;
}
#streetAddress, #streetAddress2 {
	width: 99%;
}
input[type="submit"], textarea {
	font-weight: bold;
}